:root{
    --font: 'DM Sans', sans-serif;
    --color-1: #212121;
    --color-2: #333333;
    --color-3: #00DF5E;
    --color-4: #1EFFA9;
}

*{
    padding: 0;
    margin: 0;
    font-family: var(--font);
    box-shadow: none;
}

body{
    background-color: var(--color-1);
    color: #fff;
    overflow-x: hidden;
}


header{
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav{
    border-bottom: 1px solid var(--color-2);
    max-width: 980px;
    display: flex;
    height: 50px;
    
}

nav div{
    font-size: 20px;
    margin-top: 10px;
    color: var(--color-3);

    margin-right: 200px;
}

.nav-mobile-3{
    display: none;
    position: absolute;
    top: 70px;
    width: 100vw;
    height: 150px;
    background-color: #00DF5E;
}

.nav-mobile-3 ul{
    list-style: none;
    margin-top: 10px;
} 
.li-nav a{
    text-decoration: none;
    color: #fff;
    transition: 0.5s cubic-bezier(0.39, 0.575, 0.565, 1);
}
.li-nav a:hover{
    color: #000;
}

.menu-hambur{
    display: none;
    width: 25px;
    height: 3px;
    border-radius: 5px;
    background-color: #fff;
}

.menu-hambur::after{
    content: '';
    display: block;
    width: 25px;
    height: 3px;
    border-radius: 5px;
    background-color: #fff;
    transform: translateY(6px);
}

.menu-hambur::before{
    content: '';
    display: block;
    width: 25px;
    height: 3px;
    border-radius: 5px;
    background-color: #fff;
    transform: translateY(-9px);
}




.cor{
    color: #fff;
    cursor: pointer;
    border-bottom: 1px solid var(--color-1);
    transition:  0.5s  cubic-bezier(0.445, 0.05, 0.55, 0.95);
}
.cor:hover{
    
    border-bottom: 1px solid var(--color-3);
    color: #1EFFA9;
}

.section-banner{
    background-image: url(images/banner2.png);
    background-repeat: no-repeat;
    background-size: 900px;
    background-position: right;
    background-attachment: fixed;
}

.banner-area{
    height: 80vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.banner-area-1{
    display: flex;
    flex-direction: column;
    margin-right: -120px;
    margin-left: 90px;
    width: 300px;
}

.area-1-title{
    animation:blur-out-contract 1.5s cubic-bezier(.55,.085,.68,.53) reverse both;
    display: flex;
    flex-direction: column;
}

.area-1-title h1{
    font-size: 33px;
    color: var(--color-4);
    
}

.area-1-title span{
    font-size: 18px;
}

code{
    animation: cod infinite  0.5s alternate-reverse cubic-bezier(0.215, 0.610, 0.355, 1) ;
    color: #f12066;
    font-size: 35px;
}

@keyframes blur-out-contract{0%{filter:blur(.01)}100%{letter-spacing:-.5em;filter:blur(12px) opacity(0)}}


@keyframes cod {
    0%{
        color: #f12066;
        text-shadow: 1px 2px 0px #00df5d59;
    
    }
     20%{
       
        text-shadow: 1px 2px 0px #00df5d71;
     }

     50%{
        text-shadow: 2px 2px 3px #00df5e;
     }

     100%{
        text-shadow: 2px 2px 7px #00df5e;
    }
    
     
}

.area-1-botao{
    margin-top: 20px;
    display: flex;
}

.area-1-botao a{
    display: flex;
    align-items: center;
    text-decoration: none;
}

.git{
    background-color: var(--color-3);
    padding: 5px 20px;
    color: #000;
    margin-right: 20px;
    transition: 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.git img{
    width: 20px;
    margin-right: 5px;
}

.git:hover{
    color: white;
    background-color: #00df5d94;
}

.link{
    cursor: pointer;
    text-decoration: none;
    background-color: var(--color-1);
    padding: 5px 20px;
    color: rgb(255, 255, 255);
    margin-right: 20px;
    border: 1px solid #fff;
    transition: 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.link img{
    width: 22px;
    margin-right: 5px;
}

.link:hover{
    color: var(--color-4);
    border: 1px solid var(--color-3);
}

.banner-area-2{
   
    width: 500px;
    height: 500px;
}

.section-sobre{
    width: 100vw;
    height: 80vh;
    background-color: var(--color-2);
}

.sobre-area{
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.area-sobre-1{
    display: flex;
    justify-content: center;
    align-items: center;
}

.area-sobre-1 img{
    width: 230px;
    border-radius: 10px;
    border: 1px solid var(--color-4);
    transition: 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.area-sobre-1 img:hover{
    box-shadow:  0px 0px 20px 0px #00df5e;
}

.area-sobre-2{
    width: 500px;
    margin-left: 40px;
    padding-left: 20px;
    padding-top: 30px;
    margin-top: 30px;
}

.area-sobre-2-title{
    display: flex;
    flex-direction: column;
}

.area-sobre-2-title h1{
    font-size: 18px;
}

.area-sobre-2-title h2{
    font-size: 15px;
    color: var(--color-4);
    font-weight: 400;
}

.area-sobre-2-title p{
    margin-top: 10px;
    line-height: 24px;
    font-size: 14px;
    max-width: 380px;
}

.area-sobre-2-icon{
    display: flex;
    align-items: center;
}
.icon-sobre img{
    width: 20px;
    margin: 0px 20px;
}

.area-sobre-2-bot{
    display: flex;
    justify-content: center;
    max-width: 300px;
}

.sobre-botao{
    margin-top: 20px;
    background-color: var(--color-3);
    padding: 5px 20px;
    color: #000;
    margin-right: 20px;
    text-decoration: none;
    transition: 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.sobre-botao-2{
    margin-top: 20px;
    background-color: var(--color-2);
    padding: 5px 30px;
    color: rgb(255, 255, 255);
    border: 1px solid #fff;
    text-decoration: none;
    transition: 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.sobre-botao img, .sobre-botao-2 img{
    width: 20px; margin-right: 5px;
}

.sobre-botao:hover{
    color: white;
    background-color: #00df5d94;
}

.sobre-botao-2:hover{
    color: var(--color-4);
    border: 1px solid var(--color-3);
}

.section-espec{
    background-image: url(images/banner2.png);
    background-repeat: no-repeat;
    background-size: 800px;
    background-position: right;
    background-attachment: fixed;
    padding-bottom: 30px;
}

.espec-area{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.espec-area-1{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.espec-area-1 h1{
    font-size: 22px;
    text-align: center;
    margin-bottom: 30px;
    width: 180px;
}

.espec-img{
    display: flex;
    flex-wrap: wrap;
    max-width: 700px;
    justify-content: center;
    padding-bottom: 20px;
}

@keyframes jello-vertical{0%{transform:scale3d(1,1,1)}30%{transform:scale3d(.75,1.25,1)}40%{transform:scale3d(1.25,.75,1)}50%{transform:scale3d(.85,1.15,1)}65%{transform:scale3d(1.05,.95,1)}75%{transform:scale3d(.95,1.05,1)}100%{transform:scale3d(1,1,1)}}



.espec-img-area {
    
    padding: 10px;
    background-color: var(--color-2);
    margin: 5px;
    border: 1px solid rgba(255, 255, 255, 0.075);
}

.espec-img-area:hover{
    animation:jello-vertical .9s  both;
}

.espec-img-area img{
   
    width: 70px;
}

.espec-area-2{
    
    margin-top: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}
.espec-area-2 h1{
    font-size: 22px;
    text-align: center;
    margin-bottom: 30px;
    
    width: 130px;
    
}

.espec-serv{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding-bottom: 20px;
    border-bottom: 1px solid rgb(83, 81, 81);
    margin-bottom: 20px;
}


.area-espec-serv{
    width: 200px;
    height: 150px;
    background-color: var(--color-2);
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid rgba(255, 255, 255, 0.123);
    border-bottom: 3px solid var(--color-3);
   transition: 0.5s cubic-bezier(0.39, 0.575, 0.565, 1);
}
.area-espec-serv:hover{
    box-shadow: 0px 0px 20px 0px #00DF5E ;
}

.area-espec-serv img{
    width: 40px;
    margin-left: 20px; 
    margin-top: 10px;
    margin-bottom: 50px;
}

.area-espec-serv p{
    font-size: 18px;
    margin-left: 10px;
    color: rgba(255, 255, 255, 0.76);
}


.section-project{
    width: 100vw;
    background-color: var(--color-2);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-project h1{
    font-size: 25px;
    margin-top: 40px;
    margin-bottom: 40px;
    border-bottom:  2px solid var(--color-3);
    padding-bottom: 5px;
}

.project-area{
    flex-wrap: wrap;
    display: flex;
    justify-items: center;
    align-items: center;
    max-width: 800px;
    margin-left: 60px;
}


.card{
    margin-right: 20px;
    margin-left: 20px;
    width: 200px;
    height: 305px;
    background-color: var(--color-1);
    margin-bottom: 30px;
}

.card img{
    width: 199px;
    height: 150px;
}

.c h5{
    font-size: 15px;
    color: var(--color-4);
}
.c p{
    font-size: 12px;
    font-weight: 400;
}

.projet-bot{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 1px 5px;
    background-color: var(--color-3);
    margin-top: -10px;
    font-size: 12px;
    color: #000;
    font-weight: 500;
    cursor: pointer;
}

.projet-bot img{
    margin-right: 5px;
    width: 10px;
    height: 10px;
}

.projet-bot:hover{
    color: white;
    background-color: #00df5d94;
}

.section-contato{
    background-color: var(--color-2);
    width: 100vw;
    height: 50vh;
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-contato h1{
    font-size: 25px;
    border-bottom: 1px solid var(--color-3);
    width: 100px;
}
.contato-area{
    display: flex;
    align-items: center;
    justify-content: center;
}
.area-cont{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 60px 40px;
    
}

.area-cont img:hover{
    box-shadow: 0px 0px 17px 10px #00df5e;
}

.area-cont img{
    transition:  1s cubic-bezier(0.075, 0.82, 0.165, 1);
    box-shadow: -1px 0px 3px 1px #00df5e;
    width: 60px;
    border-radius: 50px;
}

.area-cont p{
    margin-top: 10px;
    font-size: 14px;
    font-weight: 400;
}

footer{
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer p{
    padding-top: 10px;
    font-size: 13px;
    color: #1EFFA9;
}


/* Css do projetos */

.projeto-1{
    position: fixed;
    z-index: 99;
    top: 0;
    width: 100vw;
    height: 100vh;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.425);
}

.projeto-area{
    border-radius: 10px;
    border: 1px solid rgb(88, 87, 87);
    padding-top: 35px;
    background-color: var(--color-1);
    width: 650px;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.carousel {
    max-width: 580px;
    height: 260px;
    margin-bottom: 50px;
}

.carousel-item img{
    max-width: 600px;
    height: 300px;
}

.area-projeto-2{
    display: flex;
    justify-content: center;
}

.projeto-1 h1{
    font-size: 15px;
    color: var(--color-4);
}

.skills{
    width: 200px;
}
.skills h1{
    font-size: 13px;
    color: #fff;
}


.skills-area img{
    width: 50px;
}

.projeto-text{
    width: 300px;
}

.projeto-text p{
    font-size: 12px;
    margin-top: 10px;
}

.projeto-text a{
    text-decoration: none;
    margin-left: 190px;
    padding: 5px 20px;
    font-size: 12px;
    color: #000;
    background-color: var(--color-3);
    transition: 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
    box-shadow: 4px 4px 7px 1px rgba(0, 0, 0, 0.521);
}

.projeto-text a:hover{
    background-color: var(--color-1);
    border: 2px solid var(--color-3);
    padding: 4px 19px;
    color: #fff;
}

.exit{
    position: relative;
    width: 26px;
    height: 26px;
    background-color:var(--color-2);
    top: 34px;
    left: 305px;
    border-radius: 100%;
    cursor: pointer;
}

.exit:after{
    display: block;
    content: "";
    width: 16px;
    height: 2px;
    background-color: rgba(255, 255, 255, 0.616);
    transform: rotate(50deg) translateX(11px) translateY(3px);
}

.exit::before{
    display: block;
    content: "";
    width: 16px;
    height: 2px;
    background-color: rgba(255, 255, 255, 0.616);
    transform: rotate(-50deg) translateX(-6px) translateY(12px);
}

.section-servi{
    background-image: url(images/banner2.png);
    background-repeat: no-repeat;
    background-size: 800px;
    background-position: right;
    background-attachment: fixed;

}

.servi-area{
    padding-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 430px) and (min-width:360px) {
    .menu-hambur{
        display: block;
    }

    .nav{
        display: none;
    }
    .menu-hambur{
        display: block;
        position: relative;
        right: 30px;
        cursor: pointer;
    }
    .banner-area-2{
        margin-left: 100px;
        width: 0px;
    }
    .banner-area-1{
        margin-left: 36px;
    }

    .section-sobre{
        height: 100%;
        padding: 40px;
    }

    .sobre-area{
        flex-direction: column;
    }
    .area-sobre-2{
        max-width: 380px;
    }
    .area-sobre-2-title p {
        max-width: 286px;
    }
    .project-area{
        margin-left: 20%;
    }

    .section-contato{
        height: 100%;
    }

    .contato-area{
        flex-wrap: wrap;
        width: 250px;
    }

    .area-cont{
        margin: 9px 40px;
    }

    .projeto-area{
        width: 330px;
    }
    .carousel{
        margin-bottom: -30px;
    }

    .carousel-item img {
        max-width: 278px;
        height: 183px;
    }
    .area-projeto-2 {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .skills-area img {
        width: 40px;
    }
    .exit{
        left: 147px;
    }
}
@media (max-width:360px){
    .menu-hambur{
        display: block;
    }

    nav{
        max-width: 250px;
    }

    .banner-area-2{
        margin-left: 100px;
        width: 0px;
    }
    .link ,.git{
        padding:  5px 11px;
    }
    .area-1-title h1 {
        font-size: 25px;
        color: var(--color-4);
    }
    .area-1-title span {
        font-size: 15px;
    }
    .nav{
        display: none;
    }
    .menu-hambur{
        display: block;
        position: relative;
        right: 30px;
        cursor: pointer;
    }
    .banner-area-1{
        margin-left: 36px;
    }

    .section-sobre{
        height: 100%;
        padding: 40px;
    }

    .sobre-area{
        flex-direction: column;
    }
    .area-sobre-2{
        max-width: 380px;
    }
    .area-sobre-2-title p {
        max-width: 250px;
        text-align: center;
    }


    .sobre-botao-2,.sobre-botao{
        padding: 5px 20px;
    }
    .project-area{
        margin-left: 16%;
    }

    .section-contato{
        height: 100%;
    }

    .contato-area{
        flex-wrap: wrap;
        width: 250px;
    }

    .area-cont{
        margin: 9px 40px;
    }
    .projeto-area{
        width: 280px;
    }
    .carousel{
        margin-bottom: -50px;
    }

    .carousel-item img {
        max-width: 253px;
        height: 171px;
    }
    .area-projeto-2 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 250px;
    }

    .projeto-text p {
        width: 239px;
        font-size: 12px;
        margin-top: 10px;
        padding: 10px;
    }

    .projeto-text a{
        margin-left: 144px;
    }

    .skills-area img {
        width: 40px;
    }
    .exit{
        left: 118px;
    }
}

@media (min-width: 1600px){
    .project-area{
        max-width: 1000px;
    }
    .section-sobre{
        height: 500px;
    }
    .area-1-title h1{
        font-size: 40px;
        width: 500px;
    }
}